# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android build artifacts
android/app/build/
android/.gradle/

# Bundles
*.apk
*.aab

# Native secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env
*.env
.env*.local
*.xcode.env

# TypeScript
*.tsbuildinfo

GoogleService-Info.plist
google-services.json
e-janta-88ba4-firebase-adminsdk-fbsvc-55661fd2c8.json
